<html>
    <head>
        <style>
            body { text-align: center; font-family: comic sans ms; }
        </style>
    </head>

    <body>
        <h1>Welcome to DogeBot. Let's make much wow money.</h1>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.marca.com%2Fen%2Flifestyle%2Fus-news%2F2022%2F03%2F16%2F6232072bca474183718b45f8.html&psig=AOvVaw3wvrQzH8MpaC_1dNC54oCt&ust=1687107398446000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCNCmjPviyv8CFQAAAAAdAAAAABAE" />
    </body>
</html>